/logicadeprogramaçao/nbproject/private/
/Exercicio/nbproject/private/
/pasta 2/nbproject/private/
/exercicio3/nbproject/private/
/JavaApplication6/nbproject/private/
/exercicio/nbproject/private/
/exercicio2/nbproject/private/
/exercicio3/build/
/exercicio2/build/
/exercicio/build/
/exercicio4/nbproject/private/
/exercicio5/nbproject/private/
/exercicio5/build/
/exercicio6/nbproject/private/
